.nav-container{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item-container{
    display: flex;
    flex-direction: row;
}

.nav-item{

}

.access-container{
    display: flex;
    flex-direction: row;
}

.access-item{
    
}